<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data</title>
<style>
	/* Limit the width of the container to 80% */
	.svg-container {
		width: 80%;
		margin: 0 auto; /* Center the content */
		overflow-x: auto; /* Add horizontal scroll if needed */
	}
	/* Limit the width of the SVG image to 100% */
	.svg-container img {
		width: 100%;
		height: auto; /* Maintain aspect ratio */
	}
</style>

</head>
<body>
<h2>Banana ripeness</h2>
<div class="svg-container">
	<img src="./images/banana.svg" alt="SVG">
</body>
</html>
