<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Banana Data</title>
<style>
  /* CSS styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }
  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  .caption {
    text-align: center;
    font-style: italic;
  }
</style>
</head>
<body>

<div class="container">
  <h1>Data of the last 7 days</h1>

  <div class="image-container">
    <img src="./images/new_plot.png" alt="Humidity graph">
  </div>
</div>

</body>
</html>
