<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Thermostat CSS</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="thermostat">
  <div class="bar">
    <div class="inner_bar"></div>
    <div class='hold left'>
      <div class='fill fill1'></div>
    </div>
    <div class='hold right'>
      <div class='fill fill2'></div>
    </div>
    <span>Heating</span>
  </div>
  <div class="shadow">
    <div class="shadow-cube"></div>
  </div>
  <div class="number">
    <span class="ext">19</span>
  </div>
  <div class="center">
    <span class="arrow minus"><i class="material-icons">keyboard_arrow_left</i></span>
    <span class="arrow plus"><i class="material-icons">keyboard_arrow_right</i></span>
    <div class="small">
      <span class="heat">19</span>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
